* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222; /* Dark background */
    color: #fff; /* White text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #00feba, #5b548a); /* Gradient background */
    color: #fff;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 1px solid #ebfffc; /* Lighter border color */
    outline: 0;
    background: #ebfffc; /* Light background */
    color: #555; /* Dark text color */
    padding: 15px 20px;
    height: 50px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
}

.search button {
    border: none;
    outline: 0;
    background: #ebfffc; /* Light background */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.search button:hover {
    background: #c3fcf2; /* Lighter background on hover */
}

.search button img {
    width: 20px;
    filter: invert(1);
}

.weather {
    display: none;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10px;
}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.weather h3.country {
    font-size: 24px; /* Adjust size as needed */
    font-weight: 300; /* Adjust weight as needed */
    margin-top: 5px; /* Adjust margin as needed */
}

.location {
    margin-top: 20px;
}

.details {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjusted margin for better spacing */
}

.col {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.col div {
    margin-left: 10px; /* Added margin for separation */
}

.humidity, .wind {
    font-size: 18px;
    margin: 0;
}
